.icon-menu {
  display: none;

  @media (max-width: $desktop3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    cursor: pointer;

    @media (any-hover: none) {
      cursor: default;
    }

    span,
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 37.5px;
      height: 2px;
      background-color: $bg;
      transition: background-color 0.3s, width 0.3s, transform 0.3s, top 0.3s, bottom 0.3s;
    }
    &::before {
			top: 12.5px;
		}
		&::after {
			bottom: 12.5px;
		}

    &--open {
      span {
				width: 0;
			}
      &::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
    }

  }
}