.destinations {
  // .destinations__inner
  &__inner {
    .container-right {
      @media (max-width: $desktop3){
        max-width: calc($containerWidth + ($paddingMobile * 2));
        padding-left: $paddingMobile;
        padding-right: $paddingMobile;
      }
      @media (max-width:$mobile){
        max-width: calc($containerWidth + ($paddingMobile * 2));
        padding-left: $paddingMobileSmall;
        padding-right: $paddingMobileSmall;
      }
    }
  }
  // .destinations__header
  &__header {

  }
  // .destinations__body
  &__body {
  }
  // .destinations__slider
  &__slider {
    // overflow: visible;
    @media (max-width: $desktop3){
      margin-bottom: 100px;
    }
  }
  // .destinations__wrapper
  &__wrapper {

  }

  &__slide {
		opacity: 0;
		transform: translateY(50px);
		transition:
			opacity 0.5s,
			transform 0.5s;

		._watcher-view & {
			opacity: 1;
			transform: translateY(0);
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					$startDelay: 0;
					$delay: $i * 0.15 + $startDelay;
					transition-delay: #{$delay}s;
				}
			}
		}
  }
}


// .swiper-button-disabled {
//   opacity: 0.5;
//   pointer-events: none;
// }

