.offer {
  // .offer__header
  &__header {
    .block-heading__text {
      @media (max-width: $desktop3) {
        font-size: 24px;
      }
      @media (max-width: $mobile) {
        font-size: 18px;
      }
    }
    @media (max-width: $mobile) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    @media (max-width: $desktop3) {
      margin-bottom: 100px;
    }
    @media (max-width:$mobile){
      margin-bottom: 60px;
    }
  }

  &__slide {
    opacity: 0;
		transform: translateY(50px);
		transition:
			opacity 0.5s,
			transform 0.5s;

		._watcher-view & {
			opacity: 1;
			transform: translateY(0);
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) {
					$startDelay: 0;
					$delay: $i * 0.15 + $startDelay;
					transition-delay: #{$delay}s;
				}
			}
		}
  }
}
