//css vars
:root {
  --main: #172432;
  --accent: #FF7757;

  --font-family: "Rubik", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Mulish", sans-serif;

  --gap: 32px;
  --container-width: 1556px;
  --container-offset: 15px;
}