<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__column">
        <div class="logo footer__logo">
          <a class="logo__link" href="#">
            <img src="@img/logo.svg" width="234" height="46" alt="Travellian logo">
          </a>
        </div>
        <div class="footer__copy">Copyright © Travellian 2020 All rights reserved</div>
      </div>
      <div class="footer__column">
        <span class="footer__title">Menu</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link" href="#">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Explore</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Travel</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Blog</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <span class="footer__title">Information</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link" href="#">Destinations</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Supports</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <span class="footer__title">Contact Info</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link link" href="tel:123456789">+123 456 789</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="mailto:info@travellian.com">info@travellian.com</a>
          </li>
          <li class="footer__item">
            <a class="footer__link link" href="#">1245, New Yourk, USA</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <span class="footer__title">Follow us on</span>
        <div class="footer__social social">
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg>
                  <use xlink:href="img/icons.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg>
                  <use xlink:href="img/icons.svg#pinterest-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg>
                  <use xlink:href="img/icons.svg#instagram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg>
                  <use xlink:href="img/icons.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>