<header class="header" data-scroll-show data-watch>
  <div class="container header__container">
    <div class="header__inner">
      <div class="logo header__logo">
        <a class="logo__link" href="#">
          <img src="@img/logo.svg" width="234" height="46" alt="Travellian logo">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--home link" href="#" data-goto=".hero">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#" data-goto=".destinations">Explore</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#" data-goto=".offer">Travel</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#" data-goto=".blog">Blog</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#" data-goto=".trip">Pricing</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions" data-da=".menu, 1151.98">
        <button class="header__btn header__btn--login link" type="button">Login</button>
        <button class="header__btn header__btn--signup btn" type="button">Sign up</button>
      </div>
      <button class="icon-menu" aria-label="burger menu"><span></span></button>
    </div>
  </div>
</header>